html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  color: #403f3d;
  font-family: Helvetica, Arial, sans-serif;
  background: #efd1af no-repeat url(../images/fon.jpg);
  background-size: cover;
  padding-top: 5rem;
}

.field-8 {
  width: 80rem;
  height: 80rem;
  border: 5px solid #c72813;
  border-radius: 5px;
  background-color: #a61f0b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.field-7 {
  width: 70rem;
  height: 70rem;
  border: 5px solid #c72813;
  border-radius: 5px;
  background-color: #a61f0b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.field-6 {
  width: 60rem;
  height: 60rem;
  border: 5px solid #c72813;
  border-radius: 5px;
  background-color: #a61f0b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.field-5 {
  width: 50rem;
  height: 50rem;
  border: 5px solid #c72813;
  border-radius: 5px;
  background-color: #a61f0b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.field-4 {
  width: 40rem;
  height: 40rem;
  border: 5px solid #c72813;
  border-radius: 5px;
  background-color: #a61f0b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.field-3 {
  width: 30rem;
  height: 30rem;
  border: 5px solid #c72813;
  border-radius: 5px;
  background-color: #a61f0b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cell {
  width: 10rem;
  height: 10rem;
  border: 1px solid #a61f0b;
  border-radius: 1rem;
  cursor: move;
  box-sizing: border-box;
  font-size: 5rem;
  background: #f8f7f6 url(../images/cell.svg) no-repeat 44% 44%/450%;
  text-align: center;
  padding-top: 2rem;
}

.cell-0 {
  border: none;
  background-color: transparent;
  background-image: none;
}

.cell-64 {
  order: 64;
}

.cell-63 {
  order: 63;
}

.cell-62 {
  order: 62;
}

.cell-61 {
  order: 61;
}

.cell-60 {
  order: 60;
}

.cell-59 {
  order: 59;
}

.cell-58 {
  order: 58;
}

.cell-57 {
  order: 57;
}

.cell-56 {
  order: 56;
}

.cell-55 {
  order: 55;
}

.cell-54 {
  order: 54;
}

.cell-53 {
  order: 53;
}

.cell-52 {
  order: 52;
}

.cell-51 {
  order: 51;
}

.cell-50 {
  order: 50;
}

.cell-49 {
  order: 49;
}

.cell-48 {
  order: 48;
}

.cell-47 {
  order: 47;
}

.cell-46 {
  order: 46;
}

.cell-45 {
  order: 45;
}

.cell-44 {
  order: 44;
}

.cell-43 {
  order: 43;
}

.cell-42 {
  order: 42;
}

.cell-41 {
  order: 41;
}

.cell-40 {
  order: 40;
}

.cell-39 {
  order: 39;
}

.cell-38 {
  order: 38;
}

.cell-37 {
  order: 37;
}

.cell-36 {
  order: 36;
}

.cell-35 {
  order: 35;
}

.cell-34 {
  order: 34;
}

.cell-33 {
  order: 33;
}

.cell-32 {
  order: 32;
}

.cell-31 {
  order: 31;
}

.cell-30 {
  order: 30;
}

.cell-29 {
  order: 29;
}

.cell-28 {
  order: 28;
}

.cell-27 {
  order: 27;
}

.cell-26 {
  order: 26;
}

.cell-25 {
  order: 25;
}

.cell-24 {
  order: 24;
}

.cell-23 {
  order: 23;
}

.cell-22 {
  order: 22;
}

.cell-21 {
  order: 21;
}

.cell-20 {
  order: 20;
}

.cell-19 {
  order: 19;
}

.cell-18 {
  order: 18;
}

.cell-17 {
  order: 17;
}

.cell-16 {
  order: 16;
}

.cell-15 {
  order: 15;
}

.cell-14 {
  order: 14;
}

.cell-13 {
  order: 13;
}

.cell-12 {
  order: 12;
}

.cell-11 {
  order: 11;
}

.cell-10 {
  order: 10;
}

.cell-9 {
  order: 9;
}

.cell-8 {
  order: 8;
}

.cell-7 {
  order: 7;
}

.cell-6 {
  order: 6;
}

.cell-5 {
  order: 5;
}

.cell-4 {
  order: 4;
}

.cell-3 {
  order: 3;
}

.cell-2 {
  order: 2;
}

.cell-1 {
  order: 1;
}

.selected {
  opacity: 0.8;
}

.additional {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  width: 20rem;
}

.time {
  font-weight: bold;
}

.movies {
  margin-top: 2rem;
  font-weight: bold;
}

.button {
  border: 3px solid #c72813;
  border-radius: 5px;
  background-color: #a61f0b;
  width: 15rem;
  font-size: 2rem;
  cursor: pointer;
  color: #f8f7f6;
  margin-top: 2rem;
}

.fieldwidth {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  width: 100%;
}

.fieldwidth select {
  margin-top: 2rem;
  font-size: 2rem;
  color: #403f3d;
  font-family: Helvetica, Arial, sans-serif;
}

.audio {
  width: auto;
  height: auto;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  text-align: center;
  font-size: 5rem;
  color: white;
  padding-top: 20%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #a61f0b;
  /* Fallback color */
  background-color: rgba(175, 13, 13, 0.5);
  /* Black w/ opacity */
  background-image: url(../images/XZ5V.gif);
}

.modal-close {
  display: none;
}

.modal-open {
  display: block;
}

.modal-results {
  font-size: 2rem;
  background-image: none;
  background-color: rgba(175, 13, 13, 0.9);
  /* Black w/ opacity */
}

@media (max-width: 1050px) {
  .field-8 {
    width: 64rem;
    height: 64rem;
  }

  .field-8 .cell {
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
  }
}
@media (max-width: 950px) {
  :root {
    font-size: 9px;
  }
}
@media (max-width: 850px) {
  :root {
    font-size: 8px;
  }
}
@media (max-width: 760px) {
  :root {
    font-size: 7px;
  }
}
@media (max-width: 670px) {
  :root {
    font-size: 7px;
  }

  body {
    flex-direction: column-reverse;
    justify-content: center;
    background: #efd1af no-repeat url(../images/fonSmall.jpg);
  }

  .additional {
    justify-content: space-around;
    align-content: space-between;
    margin: 0 auto;
  }

  .modal {
    font-size: 3rem;
    padding-top: 20rem;
  }

  .modal-results {
    font-size: 2rem;
    background-image: none;
  }

  div {
    margin: 0 auto;
  }
}
@media (max-width: 350px) {
  :root {
    font-size: 8px;
  }

  body {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  div {
    margin: 0 auto;
  }

  .additional {
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    text-align: center;
  }
}